.tim-row
{
    margin-bottom: 20px;
}

.tim-white-buttons
{
    background-color: #777;
}

.title
{
    min-height: 32px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.title.text-center
{
    margin-bottom: 50px;
}

.tim-typo
{
    position: relative;

    margin-bottom: 40px;
    padding-left: 25%;
}

.tim-typo .tim-note
{
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;

    position: absolute;
    bottom: 10px;
    left: 0;

    display: block;

    width: 260px;
    margin-left: 20px;

    color: #c0c1c2;
}

.tim-row
{
    padding-top: 50px;
}

.tim-row h3
{
    margin-top: 0;
}

.switch
{
    margin-right: 20px;
}

#navbar-full .navbar
{
    z-index: 2;

    margin-bottom: 15px;

    border-radius: 0 !important;
}

.space
{
    display: block;

    height: 130px;
}

.space-110
{
    display: block;

    height: 110px;
}

.space-50
{
    display: block;

    height: 50px;
}

.space-70
{
    display: block;

    height: 70px;
}

.navigation-example .img-src
{
    background-attachment: scroll;
}

.navigation-example
{
    min-height: 740px;
    margin-top: 0;

    background: url('../img/bg.jpg') center center;
    background-size: cover;
}

#notifications
{
    position: relative;

    display: block;

    width: 100%;

    background-color: #fff;
}

.tim-note
{
    text-transform: capitalize;
}

#buttons .btn
{
    margin: 0 0 15px;
}

.space-100
{
    display: block;

    width: 100%;
    height: 100px;
}

.be-social
{
    /*     border-bottom: 1px solid #aaa; */
    margin: 0 auto 40px;
    padding-bottom: 20px;
}

.txt-white
{
    color: #fff;
}

.txt-gray
{
    color: #ddd !important;
}

.parallax
{
    display: block;

    width: 100%;
    height: 570px;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.logo-container .logo
{
    float: left;
    overflow: hidden;

    width: 50px;

    border: 1px solid #333;
    border-radius: 50%;
}

.logo-container .brand
{
    font-size: 16px;
    line-height: 18px;

    float: left;

    width: 70px;
    height: 40px;
    margin-top: 7px;
    margin-left: 10px;

    text-align: left;

    color: #fff;
}

.logo-container .brand-material
{
    font-size: 18px;

    width: auto;
    height: 25px;
    margin-top: 15px;
}

.logo-container .logo img
{
    width: 100%;
}

.navbar-small .logo-container .brand
{
    color: #333;
}

.fixed-section
{
    top: 90px;

    overflow: scroll;

    max-height: 80vh;
}

.fixed-section ul li
{
    list-style: none;
}

.fixed-section li a
{
    font-size: 14px;

    display: block;

    padding: 2px;

    color: #666;
}

.fixed-section li a.active
{
    color: #0bf;
}

.fixed-section.float
{
    position: fixed;
    top: 100px;

    width: 200px;
    margin-top: 0;
}

.parallax .parallax-image
{
    position: absolute;

    overflow: hidden;

    width: 100%;
}

.parallax .parallax-image img
{
    width: 100%;
}

@media (max-width: 768px)
{
    .parallax .parallax-image
    {
        overflow: hidden;

        width: 100%;
        height: 640px;
    }

    .parallax .parallax-image img
    {
        width: auto;
        height: 100%;
    }
}

.separator
{
    display: block;

    width: 100%;
    padding: 20px;

    content: 'Separator';

    color: #fff;
}

.separator-line
{
    display: block;

    width: 100%;
    height: 1px;

    background-color: #eee;
}

.separator.separator-gray
{
    background-color: #eee;
}

.social-buttons-demo .btn
{
    margin-right: 5px;
    margin-bottom: 7px;
}

.img-container
{
    overflow: hidden;

    width: 100%;
}

.img-container img
{
    width: 100%;
}

.lightbox img
{
    width: 100%;
}

.lightbox .modal-content
{
    overflow: hidden;
}

.lightbox .modal-body
{
    padding: 0;
}

@media screen and (min-width: 991px)
{
    .lightbox .modal-dialog
    {
        width: 960px;
    }
}

@media (max-width: 991px)
{
    .fixed-section.affix
    {
        position: relative;

        margin-bottom: 100px;
    }
}

@media (max-width: 768px)
{
    .btn,
    .btn-morphing
    {
        margin-bottom: 10px;
    }

    .parallax .motto
    {
        font-size: 60px;

        top: 170px;

        width: 270px;
        margin-top: 0;
    }
}

/*       Loading dots  */

/*      transitions */
.presentation .front,
.presentation .front:after,
.presentation .front .btn,
.logo-container .logo,
.logo-container .brand
{
    -webkit-transition: all .2s;
       -moz-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
}

#images h4
{
    margin-bottom: 30px;
}

#javascriptComponents
{
    padding-bottom: 0;
}

#javascriptComponents .btn-raised
{
    margin: 10px 5px;
}

/*      layer animation          */

.layers-container
{
    position: relative;

    display: block;

    margin-top: 50px;
}

.layers-container img
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: auto;

    text-align: center;
}

.section-black
{
    background-color: #333;
}

.animate
{
    -webkit-transition: 1.5s ease-in-out;
       -moz-transition: 1.5s ease-in-out;
            transition: 1.5s ease-in-out;
}

.navbar-default.navbar-small .logo-container .brand
{
    color: #333;
}

.navbar-transparent.navbar-small .logo-container .brand
{
    color: #fff;
}

.navbar-default.navbar-small .logo-container .brand
{
    color: #333;
}

.sharing-area .btn
{
    margin: 15px 4px 0;

    color: #fff;
}

.sharing-area .btn i
{
    font-size: 18px;

    position: relative;
    top: 2px;

    margin-right: 5px;
}

.sharing-area .btn-twitter
{
    background-color: #55acee;
    box-shadow: 0 2px 2px 0 rgba(85, 172, 238, .14), 0 3px 1px -2px rgba(85, 172, 238, .2), 0 1px 5px 0 rgba(85, 172, 238, .12);
}

.sharing-area .btn-twitter:hover
{
    box-shadow: 0 14px 26px -12px rgba(85, 172, 238, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(85, 172, 238, .2);
}

.sharing-area .btn-facebook
{
    background-color: #3b5998;
    box-shadow: 0 2px 2px 0 rgba(59, 89, 152, .14), 0 3px 1px -2px rgba(59, 89, 152, .2), 0 1px 5px 0 rgba(59, 89, 152, .12);
}

.sharing-area .btn-facebook:hover
{
    box-shadow: 0 14px 26px -12px rgba(59, 89, 152, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(59, 89, 152, .2);
}

.sharing-area .btn-google-plus
{
    background-color: #dd4b39;
    box-shadow: 0 2px 2px 0 rgba(221, 75, 57, .14), 0 3px 1px -2px rgba(221, 75, 57, .2), 0 1px 5px 0 rgba(221, 75, 57, .12);
}

.sharing-area .btn-google-plus:hover
{
    background-color: #dd4b39;
    box-shadow: 0 14px 26px -12px rgba(221, 75, 57, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(221, 75, 57, .2);
}

.sharing-area .btn-github
{
    background-color: #333;
    box-shadow: 0 2px 2px 0 rgba(51, 51, 51, .14), 0 3px 1px -2px rgba(51, 51, 51, .2), 0 1px 5px 0 rgba(51, 51, 51, .12);
}

.sharing-area .btn-github:hover
{
    background-color: #333;
    box-shadow: 0 14px 26px -12px rgba(51, 51, 51, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(51, 51, 51, .2);
}

.section-thin,
.section-notifications
{
    padding: 0;
}

.section-navbars
{
    padding-top: 0;
}

#navbar .navbar
{
    border-radius: 0;
}

.section-tabs
{
    background: #eee;
}

.section-pagination
{
    padding-bottom: 0;
}

.section-download h4
{
    margin-bottom: 25px;
}

.section-examples a
{
    text-decoration: none;
}

.section-examples h5
{
    margin-top: 30px;
}

.components-page .wrapper > .header,
.tutorial-page .wrapper > .header
{
    height: 400px;
    padding-top: 100px;

    background-position: center center;
    background-size: cover;
}

.components-page .title,
.tutorial-page .title
{
    color: #fff;
}

.header
{
    background: url('../img/bg.jpg') top center;
    background-size: cover;
}

.logo
{
    height: 80px;
    padding-left: 5px;
}

@media (min-width: 768px)
{
    form .hidden-xs
    {
        display: table-cell !important;
    }
}

@media (max-width: 990px)
{
    .input-group
    {
        display: block;
    }
}

.radio-inline-material
{
    position: relative;

    display: inline-block;

    margin-bottom: 0;
    padding-left: 20px;
}

.fixed-alert
{
    position: fixed;
    z-index: 1000;
    right: 0;
    bottom: 0;

    max-width: 400px;
    margin-bottom: 0;
}

div.g-recaptcha
{
    width: 164px;
    margin: 0 auto;
}

.form-group .help-block
{
    display: table-cell;
}

.signup-page .wrapper > .header
{
    margin-top: 65px;
}

.form-navbar > .input-group > .form-group
{
    margin: 0;
    padding: 0;
}

.form-navbar > div.input-group > span.input-group-addon
{
    padding: 0;
    padding-right: 5px;
    padding-left: 5px;

    color: #fff;
}

.form-control::-moz-placeholder
{
    color: #b7b7b7 !important;
}

.form-control::-webkit-input-placeholder
{
    color: #b7b7b7 !important;
}

.form-control:-ms-input-placeholder
{
    color: #b7b7b7 !important;
}

.btn.btn-simple.btn-neutral
{
    color: #fff;
}

button.btn.btn-simple.btn-neutral:hover
{
    background-color: rgba(76, 175, 80, .7);
}

ul > .form-navbar
{
    margin-top: 3px;
}

.form-navbar input
{
    width: 120px !important;
}

.form-navbar .form-control
{
    color: #eaeaea;
}

.form-navbar .form-control,
.form-navbar .form-group .form-control
{
    background-image: linear-gradient(#fff, #fff), linear-gradient(#d2d2d2, #d2d2d2) !important;
}

.form-navbar .fa-user-plus
{
    padding-top: 3px;

    vertical-align: middle;
}

#logo-iut a
{
    padding: 5px;
}

.logo-container > img
{
    width: 40px;
    height: 40px;
}

#navigation-container
{
    background-image: linear-gradient(60deg, rgb(37, 125, 186), rgb(48, 74, 188));
}

.form-as-inline
{
    display: inline-block;
}

@media (max-width: 990px)
{
    .form-navbar .form-group input.form-control
    {
        width: 90% !important;
    }

    .navbar-right .form-navbar
    {
        margin-left: 10px;
    }
}

#search-text
{
    /* CSS3 Transition (Expanding Effect) */
    -webkit-transition: all .4s ease;
       -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
         -o-transition: all .4s ease;
            transition: all .4s ease;

    -webkit-backface-visibility: hidden;
}

.navbar .navbar-nav > li > div.form-inline
{
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;

    padding-top: 2px;
    padding-bottom: 2px;

    text-transform: uppercase;

    color: inherit;
    border-radius: 3px;
}

.btn.btn-simple.btn-search
{
    color: #fff;
}

.text-inherit
{
    font-size: inherit;
}

@media (max-width: 768px)
{
    #logo
    {
        height: 40px;
    }

    .navbar-brand
    {
        font-size: 16px;
    }

    .input-group
    {
        padding-left: 5px;
    }

    #search-form .input-group
    {
        display: flex;
    }
}

@media (min-width: 768px)
{
    .search
    {
        display: inline-flex !important;
    }
}

label:not(:empty) + input + span.form-control-feedback
{
    top: 50%;
}

.main-raised
{
    margin-top: 30px;
}

.alert-icon
{
    font-size: 24px;
}

.mailObject,
.mailObject:hover,
.mailObject:visited,
.mailObject:active,
.mailObject:focus,
.mailObject:link
{
    color: black;
}

.skill-img
{
    width: 80px;
    padding: 2px;
}

.togglebutton-inline
{
    display: inline-block;
}

.togglebutton-inline label .toggle
{
    display: block;

    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;

    vertical-align: bottom;
}

.section-spacetop
{
    padding-top: 20px;
}

.list-group h5.media-heading
{
    color: inherit;
}

.list-group a
{
    color: inherit;
}

.list-group .media
{
    margin-top: 0;
}

.active h5.media-heading small
{
    color: #fff;
}

.bolt
{
    color: #eded13;
}

.conversation-messages
{
    margin-top: 15%;

    text-align: center;
}

.chat
{
    width: 100%;
    padding-bottom: 2%;
}

.bubble
{
    position: relative;

    display: inline-block;

    padding: 10px 18px;

    vertical-align: top;

    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: 0 5px 5px #b2b2b2;
}

.bubble::before
{
    position: absolute;
    top: 11px;

    display: block;

    width: 20px;
    height: 16px;

    content: '\00a0';
    -webkit-transform: rotate(29deg) skew(-35deg);
       -moz-transform: rotate(29deg) skew(-35deg);
        -ms-transform: rotate(29deg) skew(-35deg);
         -o-transform: rotate(29deg) skew(-35deg);
            transform: rotate(29deg) skew(-35deg);

    background-color: #f2f2f2;
}

.you
{
    float: left;

    margin: 5px 30% 5px 20px;

    background-color: #d5d5d5;
}

.you::before
{
    left: -9px;

    background-color: #d5d5d5;
}

.me
{
    float: right;

    margin: 5px 20px 5px 40%;

    color: white;
    background-color: #337ab7;
}

.me::before
{
    right: -9px;

    background-color: #337ab7;
}

.bubble p:last-of-type
{
    margin: 0;
}

.view
{
    font-size: .8em;
    font-style: italic;
}

.me .view
{
    margin-right: 5px;

    text-align: right;

    color: #d5d5d5;
}

.you .view
{
    margin-left: 5px;

    text-align: left;

    color: #337ab7;
}

.send span
{
    cursor: pointer;
}

.send span:hover
{
    background-color: #d5d5d5;
}

.send span:active
{
    color: white;
    background-color: #337ab7;
}

.send
{
    margin: 5% 0 0 0;
    padding: 0 0 0 0;

    border: solid #d5d5d5 2px;
    border-radius: 5px;
}

.send .form-group
{
    margin: 0;
    padding: 0;
}

@media (max-width: 990px)
{
    .send span
    {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .send span:first-child
    {
        padding-bottom: 1%;
    }

    .send span:last-child
    {
        padding-bottom: 1%;
    }

    .conversation
    {
        height: 20%;
    }

    .conversation-messages
    {
        margin-top: 5%;
    }
}

label.control-label.btn-message
{
    margin: 10px 1px;
}

.btn-message
{
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.form-message .form-group
{
    width: 100%;
}

textarea.textarea-messages
{
    width: 100% !important;
    margin: 0;

    resize: vertical;
}

.form-message .form-group.file
{
    display: none;
}

.btn-search-contacts .material-icons
{
    font-size: 24px;
}

#search-contact
{
    width: 220px;
}

.btn.btn-fab.btn-fab-small
{
    font-size: 18px;
}

.modal-footer a.btn
{
    margin-top: 0;
    margin-bottom: 0;
}

.btn-no-margin
{
    margin: 0;
}

.txt-brightgrey
{
    color: #b0b0b0;
}

.btn-no-padding-top
{
    padding-top: 0;
}

.bubble p.text-center
{
    margin: 0;

    color: #3e5367;
}

.conversation-messages
{
    color: gray;
}

.icon-wrapper
{
    position: relative;

    float: left;

    margin-right: 3px;
}

.badge-red
{
    background-color: #da0303;
}

.badge-top-counter
{
    font-size: 9px;

    position: absolute;
    top: -7px;
    right: -4px;

    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}

.media.list-group-item a:hover
{
    text-decoration: none;
}

.fa-messages-unread
{
    font-size: 9px;

    position: absolute;
    top: 9px;

    margin-left: 2px;
}

.fa-no-icon-o
{
    font-family: inherit;

    color: #fff;
}

.btn.btn-default.btn-alert:hover
{
    color: #fff;
    border-color: #d43f3a;
    background-color: #d9534f;
}

.bubble a
{
    color: inherit;
}

.view span
{
    font-style: normal;
}

span.tools .tooltip
{
    font-size: 9px;

    opacity: .9;
}

span.tools .tooltip .tooltip-arrow
{
    border-bottom-color: #000;
}

span.tools .tooltip .tooltip-inner
{
    color: #fff;
    background-color: #000;
}

.bubble.you p
{
    color: #363636;
}

.fa-diamond
{
    color: #11689f;
}

.help-block.block-relative
{
    position: relative;
}

.form-group.is-focused .help-block.block-relative
{
    display: table-cell;
}

.checkbox-inline-block
{
    display: inline-block;

    margin-left: 10px;
}

.title-company
{
    font-weight: 400;

    margin-bottom: 0;

    text-overflow: ellipsis;

    color: #777;

    text-overline-mode: 25;
}

.gravatar-link
{
    display: inline-block;

    width: 60px;
    height: 60px;
}

.title-announce
{
    display: block;
}

a.title-announce:hover
{
    text-decoration: none;
}

.list-inline-block
{
    display: inline-block;

    padding-left: 10px;
}

.list-announces
{
    padding-bottom: 5px;
}

.table-cell
{
    display: table-cell;
    float: none;
}

.announce-info
{
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
}

@media (min-width: 768px )
{
    .announce-info
    {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.company-avatar
{
    width: 125px;
}

a.announce-id
{
    font-size: 9px;

    position: absolute;
    top: 0;
    right: 3px;

    margin-top: -12px;

    color: #777;
}

.form-group-no-margin
{
    margin: 0;
}

.text-filter
{
    font-size: 12px;

    color: #2c4257;
}

.btn-basic
{
    background-color: #4d5769;
}

.btn-basic:hover
{
    background-color: #4d5769;
}

.card .header-basic
{
    background: linear-gradient(60deg, #838790, #3c4858);
}

.btn-margin-top
{
    margin-top: 5px;
}

.card-nav-tabs .fa
{
    font-size: 1.5em;

    vertical-align: middle;
}

.table > tbody.announces-table
tr > td
{
    vertical-align: middle;
}

.announces-table .skill-img
{
    width: 40px;
}

a.btn.btn-xs.btn-round
{
    padding-top: 12px;
    padding-bottom: 12px;
}

.profile-announces .announce-info
{
    position: relative;
}

.profile-announces .announce-id
{
    margin-top: 0;
}

.fa-rss
{
    color: #ee802f;
}

.announce-description
{
    margin-top: 25px;
}

@media (min-width: 768px)
{
    .announce-description .col-sm-9
    {
        border-right: solid 1px #838790;
    }

    .equal
    {
        display: flex;

        flex-wrap: wrap;
    }

    .equal > div[class*='col-']
    {
        display: flex;
        flex-direction: column;
    }

    #nav-announce
    {
        top: 70px;
    }
}

.announce-description .text-center address.text-left
{
    text-align: center;
}

.announce-description .list-unstyled li
{
    margin-top: 15px;
}

.announce-skills
{
    margin: 20px 0 10px;
}

.announce-skills .skill-img
{
    width: 60px;
}

.sharing-area h5
{
    margin-bottom: 0;
}

#listConversation
{
    position: absolute;
    z-index: 9999;
    top: 61px;

    width: 170px;
    margin: 0 0 0 80px;
    padding: 0;
}

#loadDiv
{
    position: absolute;
    z-index: 9999;
    top: 38px;

    width: 170px;
    margin: 0 0 0 255px;
    padding: 0;
}

#listConversation a
{
    border-radius: 0;
}

@media (max-width: 768px)
{
    #listConversation
    {
        top: 117px;

        width: 99%;
        margin: 0 0 0 0;
    }
    #loadDiv
    {
        top: 95px;

        width: 15px;
        margin: 0 0 0 360px;
    }
}

a.list-group-item:hover
{
    background-color: #dadada;
}
.badge-violet
{
    background-color: #a452f2;
}

li a + span.badge
{
    top: 10px;
    right: 5px;
}

a.list-group-item:hover
{
    background-color: #dadada;
}

.progress-original
{
    height: 20px;
    margin-bottom: 20px;

    border-radius: 4px;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
