
.articles
{
    overflow: inherit;

    min-height: 980px;
}

.img-square
{
    border: hidden;
    border-radius: 0;
}

.alert-top
{
    position: fixed;
    z-index: 9999;
    right: 0;
    bottom: 0;

    max-width: 320px;
    padding: 3px;
}

.alert
{
    margin: 0;
    margin-top: 3px;
}

.thumbnail-sub
{
    height: 100%;
}

.img-sub
{
    width: 100% !important;
    height: 100% !important;

    border-radius: 0 !important;
}

#sidebar-menu
{
    margin-top: 100px;
}

.skill-img
{
    width: 80px;
}

label:not(:empty) + input + span.form-control-feedback
{
    top: 26px;

    padding-right: 10px;
}

.form-control-feedback
{
    margin-top: 5px;
    margin-right: 5px;

    opacity: 0;
}

.has-success .form-control-feedback
{
    opacity: 1;
}

.has-error .form-control-feedback
{
    opacity: 1;
}

.alert-icon
{
    font-size: 24px;

    display: block;
    float: left;

    margin-right: 15px;
}

.alert-icon ~ p.text
{
    margin: 5px 0 5px;
}

.form-inline
{
    display: inline-block;
}

.list-inline-block
{
    display: inline-block;

    padding-left: 10px;
}

.btn-nav
{
    padding-right: 4px;
    padding-left: 4px;

    color: #fff;
    border-color: #505153;
    background-color: #505153;
}

.btn-nav:hover,
.btn-nav:active
{
    color: #fff;
    background-color: #37383b;
}

.navigation-announces > .btn
{
    font-size: 20px;

    position: relative;
    top: -25px;
}

.announce
{
    padding-right: 5px;
    padding-bottom: 25px;
    padding-left: 15px;

    border: 1px #505153 solid;
    border-radius: 4px;
}

th.action-2
{
    min-width: 91px;
}

th.action-3
{
    min-width: 115px;
}

.alert-success
{
    color: #fff;
    border-color: rgba(38, 185, 154, 1);
    background-color: rgba(38, 185, 154, 1);
}

.btn-nav.disabled
{
    opacity: 1;
    color: #505153;
    border-color: #d1d1d1;
    background-color: #d1d1d1;
}
