<?= $count > 0 ?
    '<span class="fa-stack fa-lg fa-messages-unread">
    <i class="fa fa-comment fa-stack-2x"></i>
    <i class="fa fa-stack-1x fa-no-icon-o">' . $count . '</i ></span >'
    : '' ?>